<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<script type="application/javascript" src="../../js/mouse.js"></script>
<script type="application/javascript" src="../../js/handlebars-v4.0.12.js"></script>
<!--<script type="application/javascript" src="../../js/jquery.js"></script>-->
<body>
    <ul>
        <li>
            <a href="/utils/select/all">全选功能练习(CheckAll)</a>
        </li>
        <li>
            <a href="/utils/updownload">上传和下载</a>
        </li>
        <li>
            <a href="/letter/edit">云中信(信息留言)</a>
        </li>
        <li>
            <a href="/demo/list">demo</a>
        </li>
    </ul>
</body>
</html>