html,body{
	margin: 0;
	padding: 0;
	height: 100%;
	min-width: 1200px;
}
.left-info{
	padding-top: 10px;
	float: left;
	width: 30%;
	height: 100%;
}
.info{
	padding: 30px 0 30px 30px;
}
.box{
	margin: 20px 20px 0 20px;
}
.box-input{
	padding: 10px;
	width: 270px;
	height: 35px;
	border: 1px solid #CCCCCC;
}
.box-textarea{
	padding: 10px;
	width: 270px;
	height: 80px;
	border: 1px solid #CCCCCC;
}
.box-button{
	margin: 10px 20px 30px 20px;
}
.right-content{
	padding: 65px 60px 0 0;
	float: right;
	width: 70%;
	height: 100%;
}
.content-ul{
	min-width: 800px;
	margin-top: 20px;
	padding-left: 30px;
	height: 520px;
	border: 1px solid #cccccc;
	overflow-y: auto;
}
.content-li{
	padding: 5px 10px;
	margin: 20px 0;
	font-size: 16px;
}
.content-li:hover{
	cursor: pointer;
	background-color: #C0C0C0;
	color: #FFFFFF;
}
.content-li-con{
	width: 70%;
	margin: 0 20px;
}
.content-li-person{
	font-size: 14px;
	color: #449d44;
	font-weight: bolder;
}

/* 登录页面 */
.login{
	margin: 100px auto 0;
	width: 700px;
	height: 400px;
	border: dotted 2px #CCCCCC;
	background-color: #bd9d6a;
}
.login-left{
	float: left;
	margin: 50px 30px;
	width: 280px;
	height: 300px;
	background: url(../img/login.png);
	background-size: 100% 100%;
}
.login-right{
	float: right;
	width: 350px;
	height: 100%;
}
.login-switch{
	margin: 30px 0 10px 0;
	text-align: center;
	font-family: cursive;
}
.login-h{
	margin-bottom: 20px;
}
.login-switch-text{
	margin: 0 7px;
	padding: 7px 30px;
	font-size: 18px;
	color: #FFFFFF;
	background-color: #dc4c4c;
	cursor: pointer;
	border-radius: 3px;
}
.switch-active{
	background-color: #c52f2f;
}
.login-switch-text:hover{
	background-color: #c52f2f;
}
.login-from-group{
	margin: 30px 0 30px 60px; 
	height: 50px;
}
.login-from-label{
	width: 20%;
}
.login-from-input{
	width: 80%;
	padding: 3px 10px;
}
.login-from-p{
	margin-top: 50px;
}
.tip{
	font-size: 12px;
    position: absolute;
    margin: -20px 0 0 60px;
    color: #000000;
    font-style: oblique;
}
.login-from-button{
	margin-right: 10px;
	padding: 8px 18px;
	background-color: #45b7fe;
	border: none;
	color: #FFFFFF;
	border-radius: 8px;
	cursor: pointer;
}
.login-from-button:hover{
	background-color: #099cf8;
}
.login-qrcode{
	margin: 50px auto 0;
    text-align: center;
    width: 150px;
    height: 150px;
    background-color: #FFFFFF;
}
.login-qrcode-img{
	margin-top: 5px;
    width: 140px;
    height: 140px;
}
