<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>图片上传和下载</title>
</head>
<style>
    .bar {
        height: 18px;
        background: green;
    }
    .content{
        width: 100%;text-align: center;margin-top: 70px;
    }
    #progress{
        border-radius:6px;width: 300px;background: red;
        margin: 10px 0 10px 0;
    }
</style>
<body>
<form enctype="multipart/form-data">
    <div class="btn-file-box pos-rel">
        <input type="file" id="upload" name="upload"
               style="font-size: 0;opacity: 0;width: 100%;height: 100%;position: absolute;left: 0;top: 0;"/>
        <span class="btn ">选择文件</span>
    </div>
</form>
</body>
</html>
<script type="text/javascript" src="../../js/jquery.js"></script>
<script type="text/javascript" src="../../js/plugin/ajaxfileupload.js"></script>
<script>
    $("#upload").on("change",function(){
        $.ajaxFileUpload({
            url : '/utils/save',//后台请求地址
            type: 'post',//请求方式  当要提交自定义参数时，这个参数要设置成post
            secureuri : false,//是否启用安全提交，默认为false。
            fileElementId : 'upload',// 需要上传的文件域的ID，即input 中 type="file"的ID。
            dataType : 'content',//服务器返回的数据类型。可以为xml,script,json,html。如果不填写，jQuery会自动判断。如果json返回的带pre,这里修改为json即可解决。
            success : function (data) {
                var reg = /<pre.+?>(.+)<\/pre>/g;
                var result = data.match(reg);
                data = RegExp.$1;
                alert(data.msg);
            },
            error: function (data, status, e){
                alert(status)
                alert(data)
                alert(e)
            }
        });
    });
</script>